<div style="
overflow: auto; height: 100%;">
  <table mat-table [dataSource]="bottles" style="width: 100%;">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
    <ng-container matColumnDef="liquid">
      <th mat-header-cell *matHeaderCellDef> Aroma </th>
      <td mat-cell *matCellDef="let element" style="white-space: nowrap;">{{element.aroma.producer.name}} {{element.aroma.name}} </td>
    </ng-container>
    <ng-container matColumnDef="size">
      <th mat-header-cell *matHeaderCellDef> Size </th>
      <td mat-cell *matCellDef="let element"> {{element.size | number:'1.0-2':'de-DE'}}ml</td>
    </ng-container>
    <ng-container matColumnDef="level">
      <th mat-header-cell *matHeaderCellDef> Level </th>
      <td mat-cell *matCellDef="let element"> {{element.level | number:'1.0-2':'de-DE'}}ml</td>
    </ng-container>
    <ng-container matColumnDef="mixing">
      <th mat-header-cell *matHeaderCellDef> Mix </th>
      <td mat-cell *matCellDef="let element"> {{element.aroma.aromaPercent | number:'1.0-2':'de-DE'}}%</td>
    </ng-container>
    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef> Price </th>
      <td mat-cell *matCellDef="let element"> {{element.price | number:'1.0-2':'de-DE'}}€</td>
    </ng-container>
    <ng-container matColumnDef="price_per_hun">
      <th mat-header-cell *matHeaderCellDef> €/{{bottleSize}}ml </th>
      <td mat-cell *matCellDef="let element">
        {{ calculatePricePerDefault(element)| number:'1.0-2':'de-DE'}}€
      </td>
    </ng-container>
    <ng-container matColumnDef="calc">
      <th mat-header-cell *matHeaderCellDef> Calculate </th>
      <td mat-cell *matCellDef="let element">
        <button mat-mini-fab color="primary" (click)="calcLqiuid(element)">
          <fa-icon [icon]="faFlask"></fa-icon>
        </button>
      </td>
    </ng-container>
    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef width="2rem"> Delete </th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button color="warn" (click)="delete.emit(element.id)">
          <fa-icon [icon]="faTrash"></fa-icon>
        </button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
