<div style="height: 100%; width: 100%; display: flex;">
  <div style="flex: 1; display: flex; flex-direction: column;">
    <mat-card style="flex: 1; display: flex; flex-direction: column;min-height: 0px;">
      <mat-card-header>
        <mat-card-title>
          Aroma-Bottles
        </mat-card-title>
        <mat-card-subtitle>
          Stuff in house!
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content style="flex: 1;min-height: 0px; ">
        <app-aroma-manager></app-aroma-manager>
      </mat-card-content>
      <mat-card-actions style="display: flex;">
        <div style="flex:1"></div>
        <button mat-mini-fab color="accent" aria-label="Example icon button with a plus one icon">
          <fa-icon [icon]="faPlus"></fa-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div style="display: flex; flex-direction: column;">
    <mat-card style="flex:1; display: flex; flex-direction: column; max-height: 35rem;">
      <mat-card-header>
        <mat-card-title>
          Liquid-Calc
        </mat-card-title>
        <mat-card-subtitle>
          Mix it!
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content style="flex: 1; ">
        <app-liquid-calc></app-liquid-calc>
      </mat-card-content>
    </mat-card>

  </div>
</div>
