<h4 *ngIf="currentBottles && currentBottles.length > 0"
  style="position:absolute; top: 1rem; right: 1rem; text-align: center; z-index: 100; text-align: center; border-radius: 0.5rem; background-color: rgba(0, 0, 0, 0.26); padding: .2rem .5rem;">
  {{currentBottles[0].aroma.producer.name}}
  {{currentBottles[0].aroma.name}} <fa-icon [icon]="faTimes" style="cursor: pointer;"
    (click)="currentBottles = undefined">
  </fa-icon>
</h4>

<div style="display: flex; height: 100%;">
  <div style="flex: 1; padding-right: 1rem; display: flex; align-items: center;">
    <div style="padding-bottom: 1rem; padding-right: 0.5rem; min-width: 8rem;">
      <table>
        <tr>
          <td>Base:</td>
          <td>{{reciept?.base | number:'1.0-2':'de-DE'}}ml</td>
        </tr>
        <tr *ngIf="reciept?.shot">
          <td>Nicotin:</td>
          <td>{{reciept?.shot | number:'1.0-2':'de-DE'}}ml</td>
        </tr>
        <tr>
          <td>Aroma:</td>
          <td>{{reciept?.aroma | number:'1.0-2':'de-DE'}}ml</td>
        </tr>
        <tr *ngIf="currentBottles && bootlesLevel >= reciept.aroma">
          <td>Price:</td>
          <td>{{reciept.price | number:'1.0-2':'de-DE'}}€</td>
        </tr>
      </table>
    </div>
    <div style="height: 100%;">
      <div #bottle
        style=" background-color: black; width: 2rem; height: 100%; border-radius: 0.5rem; position: relative; overflow: hidden; ">
        <div #base style="background-color: rgba(141, 235, 179, 0.753); text-align: center;">
        </div>
        <div #nicotin style="background-color: rgba(0, 255, 255, 0.5); text-align: center; ">
        </div>
        <div #aroma style="background-color: #70309b; text-align: center;">
        </div>
      </div>
    </div>
  </div>
  <div style=" flex: 1;display: flex; padding-right: 0.5rem; flex-direction: column; justify-content: center;">

    <mat-form-field color="accent">
      <mat-label>Bottle-Size</mat-label>
      <input [(ngModel)]="bottleSize" (ngModelChange)="updateLiquid()" matInput type="number">
      <p matSuffix>ml</p>
    </mat-form-field>
    <mat-form-field color="accent">
      <mat-label>Aroma</mat-label>
      <input [(ngModel)]="aromaPercent" (ngModelChange)="updateLiquid();" matInput type="number">
      <p matSuffix>%</p>
    </mat-form-field>
    <mat-form-field color="accent">
      <mat-label>Nicotin in Liquid</mat-label>
      <input [(ngModel)]="liquidStrength" (ngModelChange)="updateLiquid()" matInput type="number">
      <p matSuffix>mg/ml</p>
    </mat-form-field>
    <mat-form-field color="accent">
      <mat-label>Nicotin in Shot</mat-label>
      <input [(ngModel)]="shotStrength" (ngModelChange)="updateLiquid()" matInput type="number">
      <p matSuffix>mg/ml</p>
    </mat-form-field>
    <button mat-raised-button color="accent" [disabled]="!currentBottles || bootlesLevel < reciept.aroma"
      (click)="mixeIt()">
      <div *ngIf="currentBottles && bootlesLevel >= reciept.aroma">Mixed it!</div>
      <div *ngIf="!currentBottles">Not Aroma</div>
      <div *ngIf="currentBottles && bootlesLevel < reciept.aroma">Not enough Aroma!</div>
    </button>
  </div>
</div>
