<mat-toolbar style="height: 2rem; background-color: black; overflow: hidden;">
  <span style="flex: 1;"></span>
  <button mat-button (click)="close()">
    <fa-icon [icon]="faTimes"></fa-icon>&nbsp;
    <span>Close</span>
  </button>

</mat-toolbar>
<div style="height: calc(100% - 2rem); width: 100%; display: flex;">
  <mat-card style="flex: 2; display: flex; flex-direction: column;min-height: 0px;">
    <mat-card-header>
      <mat-card-title>
        Aromas
      </mat-card-title>
      <mat-card-subtitle>
        Tasty Stuff!
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content style="flex: 1;min-height: 0px; ">
    </mat-card-content>
    <mat-card-actions style="display: flex;">
      <div style="flex:1"></div>
      <button mat-mini-fab color="accent">
        <fa-icon [icon]="faPlus"></fa-icon>
      </button>
    </mat-card-actions>
  </mat-card>
  <mat-card style="flex: 1; display: flex; flex-direction: column;min-height: 0px;">
    <mat-card-header>
      <mat-card-title>
        Producers
      </mat-card-title>
      <mat-card-subtitle>
        Where the juice is made!
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content style="flex: 1;min-height: 0px; ">
      <div style="overflow: auto; height: 100%;">
        <table mat-table [dataSource]="producers" style="width: 100%;">

          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> No. </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
          </ng-container>

          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
          </ng-container>
          <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef width ="2rem"> Delete </th>
            <td mat-cell *matCellDef="let element">
              <button mat-icon-button color="warn" (click)="deleteProducter(element.id)">
                <fa-icon [icon]="faTrash"></fa-icon>
              </button>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="producerCols; sticky:true"></tr>
          <tr mat-row *matRowDef="let row; columns: producerCols;"></tr>
        </table>
      </div>
    </mat-card-content>
    <mat-card-actions style="display: flex;">
      <div style="flex:1"></div>
      <button mat-mini-fab color="accent" aria-label="Example icon button with a plus one icon"
        (click)="addNewProducer('Käse')">
        <fa-icon [icon]="faPlus"></fa-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</div>
